.InsertForm{
	background: #f8f9fa;
	margin-top:20px;
	padding-left: 32px;
	padding-top: 32px;
	padding-right: 32px;
	padding-bottom: 72px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border-top: 1px solid #e9ecef;
	
}
input{
	padding:!12px;
	font-size:18px;
	width:100%;
	border: 1px solid #e9ecef;
	outline:none;
	border-radius:6px;
}
.CircleBtn{
	background:#38d9a9;
	cursor:pointer;
	border: none;
	width:80px;
	height:80px;
	display:flex;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	left:50%;
	position:absolute;
	color:white;
	font-size:50px;
	transform: translate(-50%, 50%);
	bottom:0px;
	transition: 0.125s all ease-in;
}
.CircleBtnActive{
	background: #ff6b6b;
	cursor:pointer;
	border: none;
	width:80px;
	height:80px;
	display:flex;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	left:50%;
	position:absolute;
	color:white;
	font-size:50px;
	transform: translate(-50%, 50%);
	bottom:0px;
	transition: 0.125s all ease-in;
	transform: translate(-50%, 50%) rotate(45deg);
}
.CircleBtnActive:hover{
	background: #ff8787;
}
.CircleBtnActive:active{
	background: #fa5252;
}
.CircleBtn:hover{
	background:#63e6be;
}
.CircleBtn:active{
	background:#20c997;
}
.Alert{
	display:flex;
	align-items:center;
	justify-content:center;
	color :#eb5963;
	padding-top:5px;
}